<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      QR Code
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding >
<ion-item>
	<ion-input type="text" placeholder="Entre com os dados a serem codificados" [(ngModel)]="qrData">
	</ion-input>
</ion-item>
<button ion-button color="mercato" full icon-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Criar um código</button>
<button ion-button color="mercato" full icon-left (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon>Escanear um código</button>

<ion-card *ngIf="createdCode">
<ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
<ion-card-content>
	<p>Resultado: {{ createdCode }}</p>
</ion-card-content>
</ion-card>

<ion-card *ngIf="scannedCode">
	<ion-card-content>
		Resultado do escaneamento: {{ scannedCode }}
	</ion-card-content>
</ion-card>




</ion-content>